/* index.css */
body { 
	margin: auto;
	background-color: orange; 
	outline: 5px solid skyblue;
}

#errors {background-color: red; color: white;}

#root { 
	background-color: black;
	border: 5px double aqua;
	color: white;
}


canvas { 

	background-color: #fff;
}
/* eof *




/* eof */
