%div.notificationFrame
  %div.panel
    %div.header     
      %div.menuIcon
        %div.dashTop
        %div.dashBottom
        %div.circle
      %span.title Timeline
      %input.searchInput{type:'text', placeholder:'Search ...'} 
      %div.fa.fa-search.searchIcon
