/* wireframe.css */
body { background-color: orange; }
div { background-color: black;  }
.container {}
.header { border: 1px solid white; }
.content {}
h2 { color: yellow; font-size: 2em; }
button { background-color: red; width: 100px; height: 50px; }

#root {
	color: white; 
}
.list-of-items { background-color: black; border: 1px solid blue; }
.shopping-list { background-color: black; }


/* Tic-Tac-Toe Game - React JS Project */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: white;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

