!!!
%html
  / template.haml
  / design-in-browser
  %header
  %title Design Patterns 
  
  %meta{charset:"utf-8"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1"}   

  %link{href:'wireframe.css', rel:'stylesheet'}
  %script{src:'bundle.js'} 
%body
  %h2 Design Patterns
  .container 
    %p I'm in the box: container
    #component
      %p I'm in the outer box: component
      #particle
        %p I'm' in the inner box: particle
/ eof