// File: src/styles/abstracts/_variables.sass
// Desc: octoplex framework global variables
// Date

$n2k-display: block
$n2k-background: #000;
$n2k-margin: 0
$n2k-border: 1px solid blue
$n2k-padding: 0
$n2k-content: ''
$n2k-outline: none


