!!! 5
/ index-react.html
%html
  %head
    %title React + Reduce SPA + RWD
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{href:"index.css", rel:"stylesheet"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"} 
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"}  
    %script{src:"https://unpkg.com/babel-standalone@6.15.0/babel.min.js"}      
  %body
    #root
    %script{type:"text/babel"}
      \ReactDOM.render(
      %div
        %h1 Single Page Application - Responsive Web Design
        %span Webpack, NPM, React + Redux
      ,document.getElementById('root')
      \);
    %script{src:'./public/bundle.js'}
/ eof
