!!! 5
/ index.html
%html
  %head
    %title Tic-Tac-Toe Game - React JS Project
    %meta{charset:"utf-8"}
    %link{href:"wireframe.css", rel:"stylesheet"}
  %body
    #react-app
      Tic-Tac-Toe Game - React JS Project
      .container
        .header
        .content

    %script{src:"./app.react.js"}
/ eof