!!! 5
/ index.html
%html
  %head
    %title Webpack React + Redux
    %meta{charset:"utf-8"}
    %link{href:"index.css", rel:"stylesheet"}
  %body
    #root
      Webpack, NPM, React + Redux
    %script{src:"./public/bundle.js"}
/ eof