!!!
%html
  / template.haml
  / design-in-browser
  %header
  %title Design Pattern: Decorator 
  
  %meta{charset:"utf-8"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1"}   

  %link{href:'wireframe.css', rel:'stylesheet'}
  %script{src:"http://cdn.jsdelivr.net/vue/1.0.16/vue.js"} 
%body
  %h2 Decorator
  .container 
    %p I'm in the box: container
    #component
      %p I'm in the outer box: component
      #pattern
        %p I'm' in the inner box: pattern
/ eof