!!! 5
/ infobox.html
%html
  %head
    %title Sass and Compass
    %meta{charset:"utf-8"}
    %link{href:"infobox.css", rel:"stylesheet"}
  %body
    %div.infobox
      %div.message
        %h2.title Message
        %span This is message box
      %div.user
        %h2.title User
        %span This is user box
    %script{src:".js"}
/ eof