<!DOCTYPE html>
<!-- index.html -->
<html>
  <head>
    <title>React JS Template</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js'></script>
  </head>
  <body>
    <div id='root'></div>
    <script type='text/babel'>
      const a = 10;
      const ShowA = () => (<div>{a}</div>);
      const MultipleA = () => (<div>{a * a} </div>);
      ReactDOM.render(
          <div>
	      	<ShowA />
	      	<MultipleA />
	      	<hr />
	        Virtual DOM
	        <h1>
	          header: React JS Template
	        </h1>
	        <p>
	          content: NPM, React Library, Babel Transpiler, and Webpack Module Loader
	        </p>
	      </div>
	      ,document.getElementById('root')
      );
    </script>
  </body>
</html>
<!-- eof -->
