/* App.sass
// parent container to handle layout: position and size
// child component to handle style: color, font, and image
.header
  background-color: white
  
.content
  background-color: snow

form
  background-color: skyblue
//eof