/* App.sass
/* consumer (architectural & feature) packages

//@import '../styles/atm.sass';
  
header
  //display: flex
  //flex-direction: column-reverse
  background-color: teal

nav
  display: in-flex
  background-color: teal

main 
  display: in-flex
  background-color: aqua
   
aside
  display: in-flex
  background-color: aqua

footer
  display: in-flex
  direction: column
  background-color: teal  
  
@media (max-width: 1024px)
  button
    width: 256px

@media (max-width: 769px)
  button
   width: 35px

    
/* eof