/* App.sass

.app 
  display: flex
  flex-flow: column nowrap
  border: 3px double lightgreen
  text-align: center
  font-family: Verdana, Geneva, Tahoma, sans-serif

  
.home
  border: 1px solid red


.redux
  width: 480px
  margin: auto
  border: 1px solid white
  background-color: orange 
  font-size: 0.8em
//eof
