/* atm.sass */
body {
	margin: 0;
	background-color: #007038;
	color: #fff;
	font-family: "Myraid Pro", Helvetoca Arial, sans-serif;
	text-align: center;
}

header {
	width: 100%;
	background-color: #08d88f;
	padding: 15px;
	color: #007038;
	font-size: 30px;
}

h1 {
	font-size: 30px;
}

.atm {
	width: 300px;
	height: 115px;
	margin: 10px auto 0 auto;
	background-color: #1d4f27;
	border-radius: 10px;
	padding: 20px;	
}

.atm input {
	width: 272px;
	font-size: 25px
}

.atm button {
	margin: 20px;
	padding: 29px 40px;
}
