/* index.css
//@import 'bulma/bulma.sass'

#root
  display: flex
  flex-direction: 
  
  min-height: 80vh
  background-color: orange
  border: 3px double gray
  color: white

header, footer
  background-color: teal

main

/* eof
