// File: src/styles/index.sass 
// Desc: Mobile First RWD-SPA 
// Date: 9/14/2019
//..............................................................................

//@import '../styles/vendors/normalize.sass'
//@import '../styles/vendors/font-awesome.sass'
//@import '../styles/vendors/animate.sass'
@import '../styles/pages/mobile-first.sass'

* 
  box-sizing: border-box
  //border: 0.1px solid blue


html
  display:
  border: 1px solid red
  
  
body
  display: 
  //background-color: black
  //color: white
  //font: normal 100% Helvetica, Arial, sans-serif
  
  
.header
  display: 
  border: 1px solid blue


.main
  background: tomato
  
  
.content
  display:
  border: 1px solid blue


.navbar
  display: 
  border: 1px solid blue


.menubar
  display
  //border: 1px solid blue
  

.sidebar
  display
  //border: 1px solid blue
  
  
.footer
  display: 
  border: 1px solid blue
  

img
  display:
  max-width: 100%


#root
  display: flex
  flex-direction: column
  background-color: aqua
  //border: 1px solid blue
  
  
// eof
