/* index.css */

body { background-color: orange; }

#root { 
	background-color: black;
	border: 1px dotted skyblue;
	color: white;
}

.header, .footer {
	background-color: silver;
}

.main, .aside {
	background-color: tomato;
}


.App { border: 5px solid white; }

/* eof */
