// File: src/components/App/App.sass - webpack-starter.git 
// Date: 9/14/2019 - 2/26/2023
// Note: Mobile First RWD-SPA - USM 102: Map the Big Picture (still/motion)
//..............................................................................
$primary-color: orange
$secondary-color: lighten(darkblue, 35%)

.App
  display: flex
  flex-flow: column nowrap
  background: black
  border: 3px solid red
  text-align: center
  font-family: Verdana, Geneva, Tahoma, mono, sans-serif
  color: white

.main
  padding: 1px

.heading
  color: $primary-color

  & h1
    background: $secondary-color

    & span
      background: black
      margin: 1px
      border: 1px solid white
      padding: 1px
      font-size: .75em
      opacity: 0.7

.parent
  display: inline-flex
  // display: flex
  // flex-flow: column nowrap
  height: 300px
  color: #000000

.child
  width: 100px
  height: 100px
  background: orange
  margin: auto
  font-family: monospace
  font-size: 1.025rem
  // display: flex
  // flex: 1 0 auto

hr
  border: 2px solid teal

//eof
