// File: src/components/App/App.sass - webpack-starter.git 
// Desc: Mobile First RWD-SPA: Responsive Web Design - Single Page Application
// Date: 9/14/2019
//..............................................................................
// Flexbox Layout Module for Visibility, Positioning, and Sizing
.App 
  display: flex
  flex-flow: column nowrap
  // border: 3px double lightgreen
  text-align: center
  font-family: Verdana, Geneva, Tahoma, sans-serif


.homeview
  border: 1px solid darkblue
  background-color: black
  color: white

.about

.products

.contact

//eof
