/* wireframe.css */

body { background-color: orange; }
div { background-color: silver;  } 

.container { border: 1px dotted blue; }

.header, .main { 
	background-color: black; 
	border: 1px double silver; 
	color: white;
}

/* eof */
