// File: index.sass - webpack-starter.git 
// Desc: Mobile First RWD-SPA: Responsive Web Design - Single Page Application
// Date: 9/14/2019
//..............................................................................
// Flexbox Layout Module for Visibility, Positioning, and Sizing

// @import './styles/vendors/animate.sass'
// @import './styles/vendors/bulma.sass'
// @import './styles/vendors/font-awesome.sass'
// @import './styles/vendors/_normalize'
  
* 
  box-sizing: border-box
  border: 1px solid blue


html


body
  background: url("/assets/images/eagleton.jpg"), linear-gradient(white, skyblue, orange)
  

img
  max-width: 100%


#root
  display: flex
  flex-flow: column nowrap
  

.header
  background: teal


.nav
  background: #000000
  font-size: 0.65em
  
  a
    color: white 
    font-size: 1.5em
    text-decoration: none


.aside
  display: 
  background-color: lighten(darkblue, 50%)
  

.footer
  display: 
  // border: 1px solid blue
  background-color: lightgreen

  
// eof
