// File: index.sass - webpack-starter.git 
// Date: 9/14/2019
// Note: Mobile First RWD-SPA - USM 101: Frame the Problem
//..............................................................................
// Flexbox Layout Module for Visibility, Positioning, and Sizing: 

// @use './styles/vendors/_normalize'
// @import './styles/vendors/animate.sass'
// @import '../node_modules/font-awesome/css/font-awesome.css'

*
  box-sizing: border-box
  border: 1px solid blue

// html

body
  // background: url("/assets/images/eagleton.jpg"), linear-gradient(white, skyblue, orange)
  background: gold
img
  max-width: 100%

#root
  display: flex
  flex-flow: column nowrap

.header
  background: teal

.nav
  background: #000000
  font-size: 0.65em
  a
    color: white
    font-size: 1.5em
    text-decoration: none

.aside
  background-color: lighten(darkblue, 50%)

.footer
  border: 1px solid blue
  background-color: purple

// eof
